name: Lint

on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 1
  RUFF_OUTPUT_FORMAT: github

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: j178/prek-action@v1
